* {
    padding: 0;
}

body {
    background-color:rgb(165, 165, 160);
    margin: 0;
}

.top-list {
    background-color:rgb(168, 168, 161);
    width: 100%;
    height: 46px;
    position: relative;
}

.container {
    width: 80%;
    height: 100%;
    background-color:rgb(249, 255, 255);
    padding: 11px 50px 11px 50px;
    margin-left: 10%;
    margin-right: 10%;
    border-left: 5px solid black;
    border-right: 5px solid rgb(243, 8, 8);
}

p {
    font-size: 50px;
    
}



.exbutton {
    display: inline;
    color:rgb(253, 253, 253);
    background-color:rgb(165, 165, 160);
    border-collapse: collapse;
    font-size: 40px;
    margin-left:20px;
    
    
    
}

.button {
    display: inline;
    color:aliceblue;
    background-color: rgb(146, 143, 143);
}

.left-site-menu { 
    margin-top: 40px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    
}

.left-menu .lock {
    padding-left: 40px;
    color: black;
    background-color:blanchedalmond;
    
    
}

li {
    list-style-type: none;
    border-width: 3px black;
}

.left-menu {
    float:left;
    
}

.left-menu li {
    border: 3px solid black;
    color: gray;
    padding: 10px 20px;
}
.bike {
    width: 700px;
    height: 400px;
    margin-top: 29px;
    border: 2px solid black;
}

.den {
    width: 700px;
    display: flex;
    flex-direction:column;

}

.den p {
font-size: 18px;

}

.bot-list {
    background-color:rgb(168, 168, 161);
    width: 100%;
    height: 46px;
    display:flex;
    align-items:center;
    justify-content:space-between;

}

.bot-list ul {
display:flex;
margin-left:15px;

}

.bot-list li {
    margin-right:100px;
}
.header {

}

.menu-selected {
text-decoration:underline;
}

.bot-list span {
    margin-right:15px;
}
